n8n/demo-data/workflows/TOTALE_15.json
{
  "name": "TOTALE_15",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Code node to merge protocol number with AI output\nconst protocolData = $input.item.json; // From \"Generazione protocollo\"\nconst aiOutput = $('Inserimento richieste').item.json.output;\n\n// Parse the AI output if it's JSON\nlet parsedOutput;\ntry {\n  const cleanOutput = aiOutput.replace(/```json\\s*/, '').replace(/```\\s*$/, '').trim();\n  parsedOutput = JSON.parse(cleanOutput);\n} catch (error) {\n  // If parsing fails, create a basic structure\n  parsedOutput = {\n    output: aiOutput\n  };\n}\n\n// Add the protocol number to the parsed output\nparsedOutput.numero_protocollo = protocolData.numero_protocollo;\n\n// Return the merged data\nreturn {\n  json: {\n    ai_output: aiOutput,\n    numero_protocollo: protocolData.numero_protocollo,\n    ...parsedOutput\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4928,
        368
      ],
      "id": "c1f57e5d-8620-47ea-904b-a396f7ef7c32",
      "name": "Merge Protocol Data"
    },
    {
      "parameters": {
        "jsCode": "// Code node to merge protocol number with AI output for Qdrant\nconst protocolData = $input.item.json; // From \"Generazione protocollo\"\nconst aiOutput = $('Inserimento richieste').item.json.output;\n\n// Parse the AI output if it's JSON\nlet parsedOutput;\ntry {\n  const cleanOutput = aiOutput.replace(/```json\\s*/, '').replace(/```\\s*$/, '').trim();\n  parsedOutput = JSON.parse(cleanOutput);\n} catch (error) {\n  // If parsing fails, create a basic structure\n  parsedOutput = {\n    output: aiOutput,\n    oggetto: 'Segnalazione generica',\n    descrizione: aiOutput,\n    risposta_cittadino: 'Risposta standard',\n    nome: 'Non specificato',\n    cognome: 'Non specificato',\n    telefono: 'Non fornito',\n    email: 'non.fornita@comune.maglianointoscana.gr.it',\n    indirizzo: 'Da definire',\n    canale: 'Telefono',\n    data: new Date().toISOString().split('T')[0],\n    tipologia: 'Lavori Pubblici',\n    urgenza: 'Media',\n    dati_catastali: null,\n    ufficio_competente: 'Lavori Pubblici',\n    priorita: 'Media',\n    telefono_ufficio: '0564 593439',\n    email_ufficio: 'tecnico@comune.maglianointoscana.gr.it',\n    tempi_gestione: '5-7 giorni lavorativi',\n    documenti_richiesti: 'Da verificare',\n    note_interne: 'Segnalazione creata automaticamente, dati da verificare.'\n  };\n}\n\n// Add the protocol number to the parsed output\nparsedOutput.numero_protocollo = protocolData.numero_protocollo;\n\n// Update risposta_cittadino with correct protocol number if it exists\nif (parsedOutput.risposta_cittadino && parsedOutput.risposta_cittadino.includes('MAGL-')) {\n  const today = new Date().toISOString().split('T')[0];\n  parsedOutput.risposta_cittadino = `Gentile Cittadino/a, confermiamo la ricezione della segnalazione del ${today}. La pratica è stata assegnata all'ufficio ${parsedOutput.ufficio_competente || 'Lavori Pubblici'} con numero di protocollo ${protocolData.numero_protocollo}. Contatteremo per completare i dati mancanti. Per informazioni: 0564 593439 negli orari Lunedì-Mercoledì 9:00-12:00, Martedì-Giovedì 16:00-17:00. Cordiali saluti, Comune di Magliano in Toscana`;\n}\n\n// Return the merged data for Qdrant processing\nreturn {\n  json: {\n    output: parsedOutput,\n    numero_protocollo: protocolData.numero_protocollo,\n    ...parsedOutput\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4928,
        64
      ],
      "id": "3614e08f-0641-4e26-ae5c-e2b8ea046e41",
      "name": "Merge Protocol Data for Qdrant"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -6960,
        -64
      ],
      "id": "4c677e79-99f7-422a-933b-4dfc14143ccf",
      "name": "Modello Linguistico1",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Funzione per generare valori di fallback\nfunction generateFallbacks() {\n  const today = new Date().toISOString().split('T')[0];\n  const randomProtocol = Math.floor(1000 + Math.random() * 9000);\n  \n  return {\n    nome: 'Non specificato',\n    cognome: 'Non specificato', \n    telefono: 'Non fornito',\n    email: 'non.fornita@comune.maglianointoscana.gr.it',\n    indirizzo: 'Da definire',\n    canale: 'Telefono',\n    data: today,\n    tipologia: 'Lavori Pubblici',\n    oggetto: 'Segnalazione generica',\n    descrizione: 'Dati incompleti - richiedere integrazione',\n    urgenza: 'Media',\n    dati_catastali: null,\n    ufficio_competente: 'Lavori Pubblici',\n    priorita: 'Media',\n    telefono_ufficio: '0564 593439',\n    email_ufficio: 'tecnico@comune.maglianointoscana.gr.it',\n    tempi_gestione: '5-7 giorni lavorativi',\n    numero_protocollo: 'MAGL-2024-' + randomProtocol,\n    documenti_richiesti: 'Da verificare',\n    risposta_cittadino: `Gentile Cittadino/a, confermiamo la ricezione della segnalazione del ${today}. La pratica è stata assegnata all'ufficio Lavori Pubblici con numero di protocollo MAGL-2024-${randomProtocol}. Contatteremo per completare i dati mancanti. Per informazioni: 0564 593439 negli orari Lunedì-Mercoledì 9:00-12:00, Martedì-Giovedì 16:00-17:00. Cordiali saluti, Comune di Magliano in Toscana`,\n    note_interne: 'Segnalazione creata automaticamente, dati da verificare.'\n  };\n}\n\n// Funzione per pulire e validare i dati\nfunction validateAndClean(data, fallbacks) {\n  const result = { ...fallbacks };\n  \n  for (const [key, value] of Object.entries(data)) {\n    const trimmedValue = (typeof value === 'string') ? value.trim() : value;\n    if (trimmedValue !== null && trimmedValue !== undefined && trimmedValue !== '' && trimmedValue !== 'null' && !['Non specificato', 'Non fornito'].includes(trimmedValue)) {\n      if (key === 'tipologia') {\n        const allowedTypes = ['Lavori Pubblici', 'Patrimonio', 'Edilizia Privata', 'Paesaggistico', 'Ambiente', 'Urbanistica', 'Protezione Civile'];\n        result[key] = allowedTypes.includes(trimmedValue) ? trimmedValue : 'Lavori Pubblici';\n      } else if (key === 'priorita' || key === 'urgenza') {\n        const allowedPriorities = ['Alta', 'Media', 'Bassa'];\n        result[key] = allowedPriorities.includes(trimmedValue) ? trimmedValue : 'Media';\n      } else if (key === 'canale') {\n        const allowedChannels = ['Telefono', 'Email', 'WhatsApp'];\n        result[key] = allowedChannels.includes(trimmedValue) ? trimmedValue : fallbacks.canale;\n      } else if (key === 'data') {\n        const dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\n        result[key] = dateRegex.test(trimmedValue) ? trimmedValue : fallbacks.data;\n      } else if (key === 'email' && trimmedValue.includes('@')) {\n        result[key] = trimmedValue;\n      } else if (key === 'telefono' && (trimmedValue.includes('-') || trimmedValue.length >= 7)) {\n        result[key] = trimmedValue;\n      } else if (typeof trimmedValue === 'string') {\n        result[key] = trimmedValue;\n      }\n    }\n  }\n  \n  return result;\n}\n\n// MODIFICA PRINCIPALE: Ottenere il numero protocollo dal nodo \"Merge Protocol Data\"\nconst protocolloData = $input.item.json;\nconst numeroProtocollo = protocolloData.numero_protocollo;\n\nlet rawOutput = protocolloData.ai_output || '';\nrawOutput = rawOutput.replace(/```json\\s*/, '').replace(/```\\s*$/, '').trim();\n\nconst fallbacks = generateFallbacks();\n// Sovrascrivi con il numero protocollo generato\nif (numeroProtocollo) {\n  fallbacks.numero_protocollo = numeroProtocollo;\n  // Aggiorna anche la risposta cittadino con il numero corretto\n  const today = new Date().toISOString().split('T')[0];\n  fallbacks.risposta_cittadino = `Gentile Cittadino/a, confermiamo la ricezione della segnalazione del ${today}. La pratica è stata assegnata all'ufficio Lavori Pubblici con numero di protocollo ${numeroProtocollo}. Contatteremo per completare i dati mancanti. Per informazioni: 0564 593439 negli orari Lunedì-Mercoledì 9:00-12:00, Martedì-Giovedì 16:00-17:00. Cordiali saluti, Comune di Magliano in Toscana`;\n}\n\ntry {\n  const parsed = JSON.parse(rawOutput);\n  const validated = validateAndClean(parsed, fallbacks);\n  // Assicura che il numero protocollo sia sempre quello generato\n  validated.numero_protocollo = numeroProtocollo || validated.numero_protocollo;\n  return { json: validated };\n} catch (error) {\n  const jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      const parsed = JSON.parse(jsonMatch[0]);\n      const validated = validateAndClean(parsed, fallbacks);\n      // Assicura che il numero protocollo sia sempre quello generato\n      validated.numero_protocollo = numeroProtocollo || validated.numero_protocollo;\n      return { json: validated };\n    } catch (e) {\n      return { json: { \n        ...fallbacks,\n        descrizione: `Errore parsing: ${rawOutput.substring(0, 200)}...`,\n        oggetto: 'Errore elaborazione dati',\n        numero_protocollo: numeroProtocollo || fallbacks.numero_protocollo\n      }};\n    }\n  }\n  \n  // Assicura che anche nei fallback il numero protocollo sia corretto\n  fallbacks.numero_protocollo = numeroProtocollo || fallbacks.numero_protocollo;\n  return { json: fallbacks };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4704,
        368
      ],
      "id": "0e6923af-c615-4753-8eef-28a88f8d7679",
      "name": "Parse JSON & Valida Dati1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "=segnalazioni",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $json.nome }}",
            "cognome": "={{ $json.cognome }}",
            "telefono": "={{ $json.telefono }}",
            "email": "={{ $json.email }}",
            "indirizzo": "={{ $json.indirizzo }}",
            "canale": "={{ $json.canale }}",
            "data": "={{ $json.data }}",
            "tipologia": "={{ $json.tipologia }}",
            "oggetto": "={{ $json.oggetto }}",
            "descrizione": "={{ $json.descrizione }}",
            "urgenza": "={{ $json.urgenza }}",
            "dati_catastali": "={{ $json.dati_catastali }}",
            "ufficio_competente": "={{ $json.ufficio_competente }}",
            "priorita": "={{ $json.priorita }}",
            "telefono_ufficio": "={{ $json.telefono_ufficio }}",
            "email_ufficio": "={{ $json.email_ufficio }}",
            "tempi_gestione": "={{ $json.tempi_gestione }}",
            "documenti_richiesti": "={{ $json.documenti_richiesti }}",
            "risposta_cittadino": "={{ $json.risposta_cittadino }}",
            "numero_protocollo": "={{ $('Generazione protocollo1').item.json.numero_protocollo }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cognome",
              "displayName": "cognome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "indirizzo",
              "displayName": "indirizzo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "canale",
              "displayName": "canale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipologia",
              "displayName": "tipologia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oggetto",
              "displayName": "oggetto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descrizione",
              "displayName": "descrizione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgenza",
              "displayName": "urgenza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dati_catastali",
              "displayName": "dati_catastali",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "ufficio_competente",
              "displayName": "ufficio_competente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priorita",
              "displayName": "priorita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono_ufficio",
              "displayName": "telefono_ufficio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_ufficio",
              "displayName": "email_ufficio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tempi_gestione",
              "displayName": "tempi_gestione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "numero_protocollo",
              "displayName": "numero_protocollo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "documenti_richiesti",
              "displayName": "documenti_richiesti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risposta_cittadino",
              "displayName": "risposta_cittadino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4416,
        368
      ],
      "id": "e2851a88-b156-4b02-afad-1f392bbe9301",
      "name": "Salva in Database",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -5776,
        448
      ],
      "id": "c5a55cc4-fa12-4065-a614-9163af7d0285",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "magliano.settoretecnico@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=Conferma Segnalazione al Comune di Magliano in Toscana - Rif. {{ $json.numero_protocollo }}",
        "html": "=<p>Gentile {{ $json.nome }} {{ $json.cognome }},</p>\n<p>{{ $json.risposta_cittadino }}</p>\n<p>Per ulteriori aggiornamenti, può fare riferimento al numero di protocollo <b>{{ $json.numero_protocollo }}</b> e contattare l'ufficio competente ai seguenti recapiti: {{ $json.ufficio_competente }} - {{ $json.contatto_ufficio }}.</p>\n<p>Cordiali saluti,<br>Comune di Magliano in Toscana</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -4128,
        464
      ],
      "id": "b81f4a24-2501-41a4-9042-65dc48fe9d0b",
      "name": "Conferma al Cittadino1",
      "webhookId": "188464cc-56b4-4fa5-8589-240621d552b2",
      "credentials": {
        "smtp": {
          "id": "2Ev9y9tlQno3rjNP",
          "name": "SMTP account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "magliano.settoretecnico@gmail.com",
        "toEmail": "magliano.settoretecnico@gmail.com",
        "subject": "=Nuova Segnalazione: {{ $json.oggetto }}",
        "html": "=<p><b>Nuova Segnalazione Ricevuta</b></p>\n<ul>\n  <li><b>Nome:</b> {{ $json.nome }} {{ $json.cognome }}</li>\n  <li><b>Contatto:</b> {{ $json.telefono }} / {{ $json.email }} (Canale: {{ $json.canale }})</li>\n  <li><b>Data:</b> {{ $json.data }}</li>\n  <li><b>Luogo:</b> {{ $json.indirizzo }}</li>\n  <li><b>Tipologia:</b> {{ $json.tipologia }}</li>\n  <li><b>Oggetto:</b> {{ $json.oggetto }}</li>\n  <li><b>Descrizione:</b> {{ $json.descrizione }}</li>\n  <li><b>Urgenza:</b> {{ $json.urgenza }}</li>\n  <li><b>Assegnato a:</b> {{ $json.operatore }}</li>\n</ul>\n<p><b>Note Interne:</b> {{ $json.note_interne }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -4128,
        272
      ],
      "id": "07b6c8ae-921e-48fe-a731-49bed1054c29",
      "name": "Notifica Interna all'Ufficio1",
      "webhookId": "dff3a31d-5ffd-46a6-a7d5-13163f3092c0",
      "credentials": {
        "smtp": {
          "id": "2Ev9y9tlQno3rjNP",
          "name": "SMTP account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Recupera l'ultimo numero dal nodo precedente (Postgres \"Ottieni Protocollo\")\nconst numero = $json.ultimo_numero;\nconst anno = new Date().getFullYear();\n\n// Costruisci il protocollo con zeri iniziali (es: MAGL-2025-0001)\nconst protocollo = `MAGL-${anno}-${String(numero).padStart(4, '0')}`;\n\n// Ritorna i dati originali + nuovo campo numero_protocollo\nreturn [{\n  json: {\n    ...$json,\n    numero_protocollo: protocollo\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5152,
        224
      ],
      "id": "88828c51-d820-44e3-8c65-b7502da1d9f5",
      "name": "Generazione protocollo1"
    },
    {
      "parameters": {
        "jsCode": "// La funzione accetta un array di elementi, in questo caso uno solo\nfor (const item of items) {\n  \n  // Accedi ai campi specifici dall'oggetto di input\n  const oggetto = item.json.oggetto || 'Segnalazione generica';\n  const descrizione = item.json.descrizione || 'Descrizione non disponibile';\n  const rispostaCittadino = item.json.risposta_cittadino || 'Risposta standard';\n  const numeroProtocollo = item.json.numero_protocollo || 'N/A';\n  const tipologia = item.json.tipologia || 'Lavori Pubblici';\n  const urgenza = item.json.urgenza || 'Media';\n  const indirizzo = item.json.indirizzo || 'Da definire';\n  \n  // Concatena i campi in un'unica stringa leggibile\n  const testoCompleto = `Protocollo: ${numeroProtocollo}. Tipologia: ${tipologia}. Oggetto: ${oggetto}. Descrizione: ${descrizione}. Luogo: ${indirizzo}. Urgenza: ${urgenza}. Risposta al cittadino: ${rispostaCittadino}.`;\n  \n  // Crea un nuovo oggetto con la chiave 'text' e la stringa combinata\n  const jsonlOutput = {\n    text: testoCompleto\n  };\n  \n  // Sostituisci il vecchio item con il nuovo oggetto JSONL\n  item.json = jsonlOutput;\n}\n\n// Restituisci l'array di elementi modificato, pronto per l'output\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4704,
        64
      ],
      "id": "9f8d5258-c619-4395-a249-6c5afd634396",
      "name": "Testo per embedding1"
    },
    {
      "parameters": {
        "jsCode": "// Formattazione email con gestione problemi già noti\nconst all = $input.all();\nconsole.log('Input ricevuto dall\\'AI Agent:', JSON.stringify(all, null, 2));\n\nif (all.length === 0) {\n  return [{\n    json: {\n      resoconto_mail: \"<p><i>❌ Nessuna segnalazione trovata per i criteri specificati.</i></p>\",\n      count: 0,\n      hasResults: false\n    }\n  }];\n}\n\nconst aiOutput = all[0].json.output || all[0].json.text || '';\nconsole.log('Testo dall\\'AI da formattare:', aiOutput);\n\nif (aiOutput.toLowerCase().includes('nessuna segnalazione')) {\n  return [{\n    json: {\n      resoconto_mail: \"<p><i>❌ Nessuna segnalazione trovata per i criteri specificati.</i></p>\",\n      count: 0,\n      hasResults: false\n    }\n  }];\n}\n\n// Rileva se il problema è già noto\nconst problemaGiaSegnalato = aiOutput.toLowerCase().includes('problema_gia_segnalato: si') ||\n                            aiOutput.toLowerCase().includes('numero_segnalazioni_precedenti');\n\nlet htmlFormatted = '';\nlet segnalazioniCount = 0;\nlet problemaNottoInfo = {};\n\n// Estrai informazioni sul problema già noto\nif (problemaGiaSegnalato) {\n  const numeroMatch = aiOutput.match(/NUMERO_SEGNALAZIONI_PRECEDENTI:\\s*([^\\n]+)/i);\n  const primoMatch = aiOutput.match(/PRIMO_RILEVAMENTO:\\s*([^\\n]+)/i);\n  const ufficioMatch = aiOutput.match(/UFFICIO_COMPETENTE:\\s*([^\\n]+)/i);\n  const statoMatch = aiOutput.match(/STATO_INTERVENTO:\\s*([^\\n]+)/i);\n  const soluzioniMatch = aiOutput.match(/SOLUZIONI_ADOTTATE:\\s*([^\\n]+)/i);\n  const prossimiMatch = aiOutput.match(/PROSSIMI_PASSI:\\s*([^\\n]+)/i);\n  const comunicazioneMatch = aiOutput.match(/COMUNICAZIONE_CITTADINO:\\s*([^\\n]+)/i);\n  \n  problemaNottoInfo = {\n    numeroSegnalazioni: numeroMatch ? numeroMatch[1].trim() : '',\n    primoRilevamento: primoMatch ? primoMatch[1].trim() : '',\n    ufficioCompetente: ufficioMatch ? ufficioMatch[1].trim() : 'Settore Tecnico',\n    statoIntervento: statoMatch ? statoMatch[1].trim() : '',\n    soluzioniAdottate: soluzioniMatch ? soluzioniMatch[1].trim() : '',\n    prossimiPassi: prossimiMatch ? prossimiMatch[1].trim() : '',\n    comunicazione: comunicazioneMatch ? comunicazioneMatch[1].trim() : ''\n  };\n}\n\n// Splitta il testo in paragrafi\nconst paragraphs = aiOutput.split('\\n\\n').filter(p => p.trim());\n\nfor (const paragraph of paragraphs) {\n  const cleanParagraph = paragraph.trim();\n  \n  // Se contiene segnalazione\n  if (cleanParagraph.toLowerCase().includes('segnalazione') && \n      !cleanParagraph.toLowerCase().includes('problema_gia_segnalato')) {\n    segnalazioniCount++;\n    \n    const lines = cleanParagraph.split('\\n').map(line => line.trim()).filter(line => line);\n    \n    htmlFormatted += `\n    <div style=\"margin-bottom: 20px; padding: 15px; border-left: 4px solid #007bff; background: #f8f9fa; border-radius: 5px;\">\n      <h4 style=\"color: #007bff; margin-top: 0;\">🎯 ${lines[0]}</h4>\n    `;\n    \n    // Formatta le righe successive con nuovi campi\n    for (let i = 1; i < lines.length; i++) {\n      const line = lines[i];\n      \n      if (line.toLowerCase().startsWith('oggetto:')) {\n        htmlFormatted += `<p><strong>📋 ${line}</strong></p>`;\n      } else if (line.toLowerCase().startsWith('descrizione:')) {\n        htmlFormatted += `<p><strong>📝 ${line}</strong></p>`;\n      } else if (line.toLowerCase().startsWith('stato:')) {\n        const stato = line.substring(6).trim();\n        const color = stato.toLowerCase().includes('completat') ? '#28a745' : \n                     stato.toLowerCase().includes('lavorazione') || stato.toLowerCase().includes('corso') ? '#ffc107' : '#dc3545';\n        htmlFormatted += `<p><strong>📊 Stato:</strong> <span style=\"padding: 3px 8px; border-radius: 3px; color: white; background: ${color}\">${stato}</span></p>`;\n      } else if (line.toLowerCase().startsWith('data:')) {\n        htmlFormatted += `<p><strong>📅 ${line}</strong></p>`;\n      } else if (line.toLowerCase().startsWith('luogo:') || line.toLowerCase().startsWith('indirizzo:')) {\n        htmlFormatted += `<p><strong>📍 ${line}</strong></p>`;\n      } else if (line.toLowerCase().startsWith('segnalatore:')) {\n        htmlFormatted += `<p><strong>👤 ${line}</strong></p>`;\n      } else if (line.toLowerCase().startsWith('ufficio_competente:')) {\n        const ufficio = line.substring('ufficio_competente:'.length).trim();\n        htmlFormatted += `<p><strong>🏢 Ufficio competente:</strong> <span style=\"background: #e3f2fd; padding: 2px 6px; border-radius: 3px;\">${ufficio}</span></p>`;\n      } else if (line.toLowerCase().startsWith('azioni_intraprese:')) {\n        const azioni = line.substring('azioni_intraprese:'.length).trim();\n        htmlFormatted += `<p><strong>⚡ Azioni intraprese:</strong> ${azioni}</p>`;\n      } else if (line.length > 5) {\n        htmlFormatted += `<p>${line}</p>`;\n      }\n    }\n    \n    htmlFormatted += `</div>`;\n  }\n  // Altri paragrafi importanti (escludi i metadati)\n  else if (cleanParagraph.length > 20 && \n           !cleanParagraph.toLowerCase().includes('problema_gia_segnalato') &&\n           !cleanParagraph.toLowerCase().includes('numero_segnalazioni') &&\n           !cleanParagraph.toLowerCase().includes('ufficio_competente') &&\n           !cleanParagraph.toLowerCase().includes('comunicazione_cittadino')) {\n    htmlFormatted += `<p style=\"margin-bottom: 10px;\">${cleanParagraph.replace(/\\n/g, '<br>')}</p>`;\n  }\n}\n\n// Se non abbiamo trovato segnalazioni strutturate\nif (segnalazioniCount === 0 && aiOutput.length > 10) {\n  htmlFormatted = `\n    <div style=\"padding: 15px; background: #e9ecef; border-radius: 5px;\">\n      <h4>📄 Risultati della ricerca:</h4>\n      <div style=\"white-space: pre-line; line-height: 1.6;\">${aiOutput}</div>\n    </div>\n  `;\n  segnalazioniCount = 1;\n}\n\n// Header principale\nlet headerHtml = `<h3 style=\"color: #007bff;\">📊 Analisi: ${segnalazioniCount} elemento/i trovato/i</h3>`;\n\n// Box problema già noto/gestito\nif (problemaGiaSegnalato) {\n  headerHtml += `\n  <div style=\"background: linear-gradient(135deg, #28a745, #20c997); color: white; padding: 20px; border-radius: 8px; margin-bottom: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);\">\n    <h4 style=\"margin-top: 0; display: flex; align-items: center; color: white;\">\n      <span style=\"font-size: 24px; margin-right: 10px;\">✅</span>\n      PROBLEMA GIÀ NOTO E IN GESTIONE\n    </h4>\n    <div style=\"background: rgba(255,255,255,0.2); padding: 15px; border-radius: 5px; margin-top: 15px;\">\n      ${problemaNottoInfo.numeroSegnalazioni ? `<p><strong>📈 Segnalazioni precedenti:</strong> ${problemaNottoInfo.numeroSegnalazioni}</p>` : ''}\n      ${problemaNottoInfo.primoRilevamento ? `<p><strong>📅 Primo rilevamento:</strong> ${problemaNottoInfo.primoRilevamento}</p>` : ''}\n      <p><strong>🏢 Ufficio responsabile:</strong> ${problemaNottoInfo.ufficioCompetente}</p>\n      ${problemaNottoInfo.statoIntervento ? `<p><strong>⚙️ Stato intervento:</strong> ${problemaNottoInfo.statoIntervento}</p>` : ''}\n      ${problemaNottoInfo.soluzioniAdottate ? `<p><strong>🔧 Soluzioni adottate:</strong> ${problemaNottoInfo.soluzioniAdottate}</p>` : ''}\n      ${problemaNottoInfo.prossimiPassi ? `<p><strong>➡️ Prossimi passi:</strong> ${problemaNottoInfo.prossimiPassi}</p>` : ''}\n    </div>\n    ${problemaNottoInfo.comunicazione ? `\n    <div style=\"background: rgba(255,255,255,0.3); padding: 12px; border-radius: 5px; margin-top: 10px; border-left: 4px solid white;\">\n      <strong>💬 Comunicazione:</strong> ${problemaNottoInfo.comunicazione}\n    </div>` : ''}\n  </div>`;\n}\n\nheaderHtml += '<hr>';\n\nconst finalHtml = headerHtml + htmlFormatted;\n\n// Footer con rassicurazioni per problemi noti\nif (problemaGiaSegnalato) {\n  const footerHtml = `\n  <hr>\n  <div style=\"background: #d4edda; padding: 15px; border-radius: 5px; margin-top: 20px; border-left: 4px solid #28a745;\">\n    <h5 style=\"color: #155724; margin-top: 0;\">🏛️ MESSAGGIO DELL'AMMINISTRAZIONE:</h5>\n    <p style=\"color: #155724; margin-bottom: 10px; font-size: 16px; line-height: 1.5;\">\n      <strong>L'amministrazione comunale conferma di essere a conoscenza del problema segnalato e di averlo già preso in carico.</strong>\n    </p>\n    <div style=\"background: rgba(21, 87, 36, 0.1); padding: 10px; border-radius: 3px;\">\n      <p style=\"color: #155724; margin: 0; font-style: italic;\">\n        \"Ringraziamo i cittadini per le segnalazioni ricevute. Il nostro impegno è quello di garantire trasparenza e tempestività negli interventi per il benessere della comunità.\"\n      </p>\n    </div>\n    <p style=\"color: #155724; margin-top: 10px; margin-bottom: 0; font-size: 14px;\">\n      <strong>Per aggiornamenti:</strong> È possibile contattare il ${problemaNottoInfo.ufficioCompetente} per informazioni sullo stato di avanzamento.\n    </p>\n  </div>`;\n  \n  const finalHtmlWithFooter = finalHtml + footerHtml;\n  \n  console.log('HTML con problema già noto generato:', finalHtmlWithFooter);\n  \n  return [{\n    json: {\n      resoconto_mail: finalHtmlWithFooter,\n      count: segnalazioniCount,\n      hasResults: segnalazioniCount > 0,\n      problemaGiaNoto: true,\n      ufficioCompetente: problemaNottoInfo.ufficioCompetente,\n      statoIntervento: problemaNottoInfo.statoIntervento\n    }\n  }];\n}\n\nconsole.log('HTML generato:', finalHtml);\n\nreturn [{\n  json: {\n    resoconto_mail: finalHtml,\n    count: segnalazioniCount,\n    hasResults: segnalazioniCount > 0,\n    problemaGiaNoto: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5424,
        784
      ],
      "id": "de0ff369-3ef9-45aa-b17d-69f7b7ca50c2",
      "name": "Elabora Risultati1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5525090b-0522-4c7b-8513-f2873f93ae4f",
              "leftValue": "={{ $json.hasResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5200,
        816
      ],
      "id": "0faf478f-fa48-4af5-8505-b181c2ae042a",
      "name": "Verifica Risultati1"
    },
    {
      "parameters": {
        "fromEmail": "magliano.settoretecnico@gmail.com",
        "toEmail": "magliano.settoretecnico@gmail.com",
        "subject": "📋 Ricerca Segnalazioni - Nessun Risultato",
        "html": "=<h3>Ricerca Segnalazioni</h3>\n<p><strong>Query:</strong> {{ $('When chat message received').item.json.chatInput }}</p>\n<hr>\n{{ $json.resoconto_mail }}\n<p><small>Sistema di gestione segnalazioni - Comune di Magliano in Toscana</small></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -4976,
        720
      ],
      "id": "380c6312-81c6-46bb-963b-9df5ac9740c4",
      "name": "Email Nessun Risultato1",
      "webhookId": "302e1587-c028-4b17-a93c-5608b3851c25",
      "credentials": {
        "smtp": {
          "id": "2Ev9y9tlQno3rjNP",
          "name": "SMTP account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "magliano.settoretecnico@gmail.com",
        "toEmail": "magliano.settoretecnico@gmail.com",
        "subject": "=📊 Ricerca Segnalazioni - {{ $json.count }} risultati",
        "html": "=<h3>Ricerca Segnalazioni</h3>\n<p><strong>Query:</strong> {{ $('When chat message received').item.json.chatInput }}</p>\n<hr>\n{{ $json.resoconto_mail }}\n<hr>\n<p><small>Sistema di gestione segnalazioni - Comune di Magliano in Toscana</small></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -4976,
        1024
      ],
      "id": "03a98892-ab5a-4b1a-9a4d-c9b446e8a2f2",
      "name": "Email Con Risultati1",
      "webhookId": "ad3f392d-047b-45d9-8384-5c5deccaa367",
      "credentials": {
        "smtp": {
          "id": "2Ev9y9tlQno3rjNP",
          "name": "SMTP account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "temperature": 0.1,
          "topK": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -5792,
        1616
      ],
      "id": "5cb216e3-d41d-4098-beb9-b2f649db6baa",
      "name": "Ollama Chat Model5",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -5808,
        1008
      ],
      "id": "117ca18e-b752-4223-9dcf-675be0e7a652",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "protocollo_segnalazione",
              "description": "protocollo_segnalazione"
            },
            {
              "name": "stato_segnalazione",
              "description": "stato_segnalazione"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -5232,
        1600
      ],
      "id": "7df1389f-658b-4d3b-b742-b68d3c566d89",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -5168,
        1824
      ],
      "id": "895c87ba-3f63-49d3-b849-5d10062a8509",
      "name": "Ollama Model1",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "segnalazioni",
          "mode": "list",
          "cachedResultName": "segnalazioni"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "stato": "={{ $json.output.stato_segnalazione }}",
            "numero_protocollo": "={{ $json.output.protocollo_segnalazione }}"
          },
          "matchingColumns": [
            "numero_protocollo"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cognome",
              "displayName": "cognome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "indirizzo",
              "displayName": "indirizzo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "canale",
              "displayName": "canale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipologia",
              "displayName": "tipologia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "oggetto",
              "displayName": "oggetto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descrizione",
              "displayName": "descrizione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgenza",
              "displayName": "urgenza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dati_catastali",
              "displayName": "dati_catastali",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ufficio_competente",
              "displayName": "ufficio_competente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "priorita",
              "displayName": "priorita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono_ufficio",
              "displayName": "telefono_ufficio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_ufficio",
              "displayName": "email_ufficio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tempi_gestione",
              "displayName": "tempi_gestione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero_protocollo",
              "displayName": "numero_protocollo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "documenti_richiesti",
              "displayName": "documenti_richiesti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "risposta_cittadino",
              "displayName": "risposta_cittadino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stato",
              "displayName": "stato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4880,
        1600
      ],
      "id": "479a8e21-8f5f-44dc-b6c9-17aa1d04f492",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "magliano.settoretecnico@gmail.com",
        "toEmail": "magliano.settoretecnico@gmail.com",
        "subject": "=Segnalazione prot. {{ $json.numero_protocollo }} ({{ $json.oggetto }}) - Stato {{ $json.stato }}",
        "html": "={{ $json.descrizione }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -4656,
        1600
      ],
      "id": "2acc042d-842c-438a-8713-4a2a4ccc8870",
      "name": "Email Con Risultati",
      "webhookId": "ad3f392d-047b-45d9-8384-5c5deccaa367",
      "credentials": {
        "smtp": {
          "id": "2Ev9y9tlQno3rjNP",
          "name": "SMTP account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -6336,
        528
      ],
      "id": "1859baab-4627-4346-b302-058f5dd3f978",
      "name": "Ollama Model2",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=leggi {{ $json.output }} e classifica la richiesta rispondendo:\nA) Richiesta informazioni su attività settore Tecnico;\nB) Richiesta informazioni su segnalazione;\nC) Richiesta inserimento segnalazione\nD) Comunicazione modifica segnalazione\nE) Richiesta verifica presenza vincoli paesaggistici ed idrogeologico\nF) Richiesta informazioni su intervento edilizio\n\n\n",
        "categories": {
          "categories": [
            {
              "category": "Richiesta informazioni su attività settore Tecnico",
              "description": "Richiesta informazioni su attività settore Tecnico"
            },
            {
              "category": "Richiesta informazioni su segnalazione",
              "description": "Richiesta informazioni su segnalazione"
            },
            {
              "category": "Comunicazione inserimento segnalazione",
              "description": "Comunicazione inserimento segnalazione"
            },
            {
              "category": "Comunicazione modifica segnalazione",
              "description": "Comunicazione modifica segnalazione"
            },
            {
              "category": "Richiesta verifica presenza vincoli paesaggistici ed idrogeologico",
              "description": "Richiesta verifica presenza vincoli paesaggistici ed idrogeologico"
            },
            {
              "category": "Richiesta informazioni su intervento edilizio",
              "description": "Richiesta informazioni su intervento edilizio"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -6304,
        256
      ],
      "id": "50636e0a-edf3-424e-af3b-6be7e18b12d7",
      "name": "Smistatore iniziale"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4784,
        -272
      ],
      "id": "ce1694b9-4b0c-47ed-9451-6b89c7a02321",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -4912,
        -272
      ],
      "id": "7f94106d-1e73-4b40-91fb-c6e3d85e3ab5",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "magliano.settoretecnico@gmail.com",
        "toEmail": "magliano.settoretecnico@gmail.com",
        "subject": "=info e contatti ",
        "emailFormat": "text",
        "text": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -4416,
        -496
      ],
      "id": "b078d9db-1155-4445-a0fc-54e1a9d69f59",
      "name": "Email Con Risultati2",
      "webhookId": "ad3f392d-047b-45d9-8384-5c5deccaa367",
      "credentials": {
        "smtp": {
          "id": "2Ev9y9tlQno3rjNP",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un assistente virtuale del Settore Tecnico del Comune di Magliano in Toscana.\nIl tuo compito è indirizzare cittadini e professionisti verso l’ufficio o i dipendenti competenti.\n\nIstruzioni operative\n\nRispondi in modo estremamente conciso.\n\nUsa solo ed esclusivamente i dati presenti in PostgreSQL1.\n\nRiporta sempre:\n\nOggetto della domanda: {{ $('Generatore richieste informazioni').item.json.output }}\n\nProtocollo assegnato: {{ $json.ultimo_numero }}\n\nIdentifica i dipendenti competenti consultando:\n\n{{ $('Classificatore competenze').item.json.output }}\n\nNon inventare, non aggiungere, non interpretare informazioni che non siano presenti nel database.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -4864,
        -496
      ],
      "id": "a72da9a3-fe09-472f-bcf9-c44e6d5ccbd2",
      "name": "Informazioni generali"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Postgres PGVector Store1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -5664,
        1616
      ],
      "id": "91d05f59-3bf9-4462-90e6-b66a74c328cc",
      "name": "Postgres PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -5584,
        1824
      ],
      "id": "c87a3467-ab5c-43c4-a0ad-47bef98ad7cc",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "=settore_tecnico_uffici",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -4656,
        -272
      ],
      "id": "fb637c33-82c1-4434-aba6-675371ebabaf",
      "name": "PostgreSQL1",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "Informazioni sugli uffici (apertura, personale assegnato, attività, ecc..)",
        "height": 464,
        "width": 1936,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5856,
        -592
      ],
      "typeVersion": 1,
      "id": "1be43fb2-02f9-45f3-9933-0aa529f82fcc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -7232,
        400
      ],
      "id": "e01c67c5-a056-4cd8-bd9a-996cc8de5d65",
      "name": "When chat message received",
      "webhookId": "d87ea950-d18f-470a-9fe6-200c48028cee"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un assistente specializzato nella ricerca di segnalazioni. Il tuo compito è rispondere alle richieste dell'utente cercando in \"Vectors\".\n\nIstruzioni:\n1.  **Analizza** la richiesta dell'utente.\n2.  **Cerca** la segnalazione più pertinente in \"Vectors\".\n3.  **Fornisci** la risposta in un formato pulito e leggibile.\n4.  **Consulta SEMPRE in \"Segnalazioni\" e \"Vectors\" prima di rispondere\n\nIl tuo output DEVE contenere:\n- L'oggetto della segnalazione.\n- Un riassunto della sua descrizione.\n- Le attività intraprese.\n\nRichiesta dell'utente: {{ $json.output }}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -5744,
        784
      ],
      "id": "36a811e7-e0f0-4f88-8daa-74be7e920080",
      "name": "Ricerca segnalazioni"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un assistente specializzato nella ricerca di segnalazioni. Il tuo compito è rispondere alle richieste dell'utente cercando in \"Vectors\".\n\nIstruzioni:\n1.  **Analizza** la richiesta dell'utente.\n2.  **Cerca** la segnalazione più pertinente in \"Vectors\".\n3.  **Fornisci** la risposta in un formato pulito e leggibile.\n4.  **Consulta SEMPRE in \"Segnalazioni\" e \"Vectors\" prima di rispondere\n\nIl tuo output DEVE contenere:\n- L'oggetto della segnalazione.\n- Un riassunto della sua descrizione.\n- Le attività intraprese.\n\nRichiesta dell'utente: {{ $json.chatInput }}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -5760,
        1392
      ],
      "id": "246d891c-e1d6-4a33-ab1b-30d587a2be1c",
      "name": "Modifica segnalazioni"
    },
    {
      "parameters": {
        "content": "Ricerca segnalazioni inserite",
        "height": 576,
        "width": 1120,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5856,
        688
      ],
      "typeVersion": 1,
      "id": "2c126e65-928a-4a70-8663-5d2c08bdf55e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analizza la seguente segnalazione ed estrai le informazioni strutturate in formato JSON. Usa i valori predefiniti se un dato manca.\n\n**SEGNALAZIONE:**\n{{ $json.chatInput }}\n\n**REGOLE DI ESTRAZIONE E VALORI PREDEFINITI:**\n- **Nome**: \"Non specificato\"\n- **Cognome**: \"Non specificato\"\n- **Telefono**: \"Non specificato\"\n- **Email**: \"Non specificato\"\n- **Indirizzo**: \"Da definire\"\n- **Canale**: \"Non specificato\"\n- **Data**: Data odierna Oggi è il {{ new Date().toLocaleDateString('it-IT') }}, Ore {{ new Date().toLocaleTimeString('it-IT') }}\n- **Tipologia**: \"Da specificare\" (scegli tra: Lavori Pubblici, Patrimonio, Edilizia Privata, Paesaggistico, Ambiente, Urbanistica, Protezione Civile)\n- **Oggetto**: Titolo sintetico del problema.\n- **Descrizione**: Dettagli completi del problema.\n- **Urgenza**: \"Media\" (scegli tra: Alta, Media, Bassa)\n- **Dati catastali**: null\n- **Ufficio competente**: Basato sulla tipologia, se non specificato usa \"Lavori Pubblici\".\n- **Priorita**: \"Media\" (scegli tra: Alta, Media, Bassa)\n- **Telefono ufficio**: \"0564 593439\"\n- **Email ufficio**: \"tecnico@comune.maglianointoscana.gr.it\"\n- **Tempi gestione**: \"Da verificare\"\n- **Numero protocollo**: \"Da verificare\"\n- **Documenti richiesti**: \"Da verificare\"\n- **Risposta cittadino**: Risposta personalizzata al cittadino.\n- **Note interne**: Attività previste per il personale.\n\n**RISPOSTA JSON (OBBLIGATORIO):**\n```json\n{\n  \"nome\": \"valore\",\n  \"cognome\": \"valore\",\n  \"telefono\": \"valore\", \n  \"email\": \"valore\",\n  \"indirizzo\": \"valore\",\n  \"canale\": \"valore\",\n  \"data\": \"YYYY-MM-DD\",\n  \"tipologia\": \"valore\",\n  \"oggetto\": \"valore\",\n  \"descrizione\": \"valore\",\n  \"urgenza\": \"valore\",\n  \"dati_catastali\": \"valore\",\n  \"ufficio_competente\": \"valore\",\n  \"priorita\": \"valore\",\n  \"telefono_ufficio\": \"valore\",\n  \"email_ufficio\": \"valore\",\n  \"tempi_gestione\": \"valore\",\n  \"numero_protocollo\": \"valore\",\n  \"documenti_richiesti\": \"valore\",\n  \"risposta_cittadino\": \"valore\",\n  \"note_interne\": \"valore\"\n}\n```\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -5776,
        224
      ],
      "id": "1c8a6a48-eb1a-46ea-9bd6-5d75bd3105e9",
      "name": "Inserimento richieste"
    },
    {
      "parameters": {
        "content": "Inserimento segnalazioni o comunicazioni",
        "height": 720,
        "width": 1936,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5856,
        -80
      ],
      "typeVersion": 1,
      "id": "bccf4bc6-e33b-4bfd-86de-bce1fd89157b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -5440,
        1136
      ],
      "id": "991da3d9-ca54-485c-b4d0-d20b48f41589",
      "name": "Embeddings Ollama2",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Database segnalazioni settore Tecnico",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -5456,
        976
      ],
      "id": "0ce4c30b-b381-4563-8dcf-96e45b6de082",
      "name": "Vectors",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -6848,
        448
      ],
      "id": "dfe513cb-c1ea-48ed-8426-a66796e3320a",
      "name": "Modello Linguistico",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un agente IA per il Comune di Magliano in Toscana. Leggi SEMPRE una colonna delle attività del database Postgres-Informazioni e generi UNA SOLA richiesta di informazioni casuale. Indica sempre Nome e cognome\n**FORMATO RISPOSTA:**\nGenera una sola segnalazione in linguaggio naturale.\nOggi è il {{ new Date().toLocaleDateString('it-IT') }}\nOre {{ new Date().toLocaleTimeString('it-IT') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -6864,
        224
      ],
      "id": "7eca7d90-4e75-4d98-bc04-fc0a4648f4b0",
      "name": "Generatore richieste informazioni"
    },
    {
      "parameters": {
        "content": "Generatori dati sintetici (richieste informazioni, segnalazioni, comunicazioni",
        "height": 1600,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7328,
        -464
      ],
      "typeVersion": 1,
      "id": "256ff6b7-02dc-4e26-a4a9-f3e1d5ae020a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Inserimento segnalazioni o comunicazioni",
        "height": 720,
        "width": 1936,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5856,
        1296
      ],
      "typeVersion": 1,
      "id": "32be8298-250a-443d-8c42-de29c311a0c4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -6848,
        -80
      ],
      "id": "2dd41467-bafb-4e34-b9d3-84b775de2422",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un agente IA per il Comune di Magliano in Toscana. Genera UNA SOLA richiesta casuale di segnalazioni tra le seguenti tipologie. Occasionalmente, ometti uno o più campi (es. telefono, email, indirizzo) per simulare dati incompleti. Leggi SEMPRE il database Postgres-Segnalazioni per evitare di creare segnalazioni già presenti.\n\n**TIPOLOGIE DISPONIBILI:**\n1. **Lavori Pubblici**: strade dissestate, illuminazione pubblica, verde pubblico, segnaletica\n2. **Patrimonio**: edifici comunali, scuole, cimiteri, impianti sportivi\n3. **Edilizia Privata**: richieste permesso costruire, SCIA, CILA, verifiche conformità\n4. **Paesaggistico**: autorizzazioni paesaggistiche, vincoli, alberi monumentali\n5. **Ambiente**: raccolta rifiuti, inquinamento, verde urbano\n6. **Urbanistica**: piani regolatori, zonizzazioni\n7. **Protezione Civile**: emergenze, sicurezza\n\n**GENERA:**\n- Nome e Cognome realistici italiani (diversi ogni volta, caria fra nomi maschili e famminili)\n- Telefono (formato: 3xx-xxxxxxx)\n- Email (nome.cognome@provider.it)\n- Canale: Telefono, Email, o WhatsApp\n- Data odierna (formato YYYY-MM-DD oggi è )\n- Luogo specifico di Magliano in Toscana, Montiano o Pereta o zone aperte\n- Descrizione dettagliata del problema\n- Se Paesaggistico: aggiungi dati catastali (Foglio 1-84, Mappale 1-300)\n\n**ESEMPI LUOGHI:**\n- Via Roma, Via del Corso, Piazza Garibaldi\n- Frazione Pereta, Frazione Montiano, Sant Andrea, Poderoen Cà dei Frati, Cupi\n- Scuola Elementare, Cimiteri Comunali, sede comunale, \n- Parchi Pubblici, Campi Sportivi di Magliano in Toscana, Montiano e Pereta\n- Zome aperte\n\n**FORMATO RISPOSTA:**\nGenera una sola richiesta di nformazioni dettagliata in linguaggio naturale.\nOggi è il {{ new Date().toLocaleDateString('it-IT') }}\nOre {{ new Date().toLocaleTimeString('it-IT') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -6880,
        -288
      ],
      "id": "3ca9598e-4823-4098-a46f-479e18700b78",
      "name": "Generatore Segnalazioni"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "segnalazioni",
          "mode": "list",
          "cachedResultName": "segnalazioni"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -6704,
        -64
      ],
      "id": "eb79bae8-ee96-4b0d-b8cb-c15f1e515a81",
      "name": "Postgres-Segnalazioni",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "settore_tecnico_uffici",
          "mode": "list",
          "cachedResultName": "settore_tecnico_uffici"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -6592,
        448
      ],
      "id": "74ff77f1-0255-4652-9d81-bf35ea10db92",
      "name": "Postgres-Informazioni",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "settore_tecnico_uffici",
          "mode": "list",
          "cachedResultName": "settore_tecnico_uffici"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -5600,
        992
      ],
      "id": "75b4ab12-37ca-4a68-8c5e-6624cb14e407",
      "name": "Select rows from a table in Postgres",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE protocollo_counter\nSET ultimo_numero = ultimo_numero + 1\nWHERE anno = EXTRACT(YEAR FROM CURRENT_DATE)\nRETURNING ultimo_numero;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5216,
        -496
      ],
      "id": "f2817829-e246-4141-be03-d888b9837403",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -5520,
        -304
      ],
      "id": "993e47ca-5fd5-4eea-9e85-8972811d15be",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "=settore_tecnico_uffici",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -5344,
        -320
      ],
      "id": "7c73091b-a7c0-4a5c-bcd4-4870523b5500",
      "name": "PostgreSQL",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Leggi {{ $json.output }} e riporta ESCLUSIVAMENTE l'elenco degli uffici competenti\nRispondi in modo estremamente conciso, basandoti ESCLUSIVAMENTE sui dati disponibili su PostgreSQL1.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -5536,
        -464
      ],
      "id": "1102ca13-6d62-4ac2-affa-ae5453265d5f",
      "name": "Classificatore competenze"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -5696,
        -880
      ],
      "id": "3163195f-1dd5-4f9a-9c41-3e90004777a6",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nodo Formattazione modificato - Template email professionale CORRETTO\n\n// Leggi il messaggio dei vincoli e i dati catastali\nconst messaggioVincoli = items[0]?.json?.messaggio_vincoli;\nconst foglio = $('Information Extractor1').item.json.output.foglio;\nconst mappale = $('Information Extractor1').item.json.output.mappale;\n\n// Controllo di sicurezza\nif (!messaggioVincoli || !foglio || !mappale) {\n  return [{\n    json: {\n      error: 'Dati mancanti per la formattazione email.'\n    }\n  }];\n}\n\n// Mappatura dei vincoli ai riferimenti legali completi\nconst vincoliMapping = {\n    'costa': 'DLgs 42/2004, articolo 142, comma1, lettera a) - Territori costieri.',\n    'laghi': 'DLgs 42/2004, articolo 142, comma1, lettera b) - Territori contermini ai laghi.',\n    'fiumi': 'DLgs 42/2004, articolo 142, comma1, lettera c) - Fiumi, torrenti, corsi d\\'acqua.',\n    'contigua': 'DLgs 42/2004, articolo 142, comma1, lettera f) - Parco Regionale e relativa area contigua.',\n    'boschi': 'DLgs 42/2004, articolo 142, comma1, lettera g) - Area e territori coperti da foreste e boschi.',\n    'interesse_archeologico': 'DLgs 42/2004, articolo 142, comma1, lettera m) - Zone di interesse archeologico.',\n    'capitana': 'DLgs 42/2004, articolo 136, lettera d) - DM 13/2019 - Zona a nord dell\\'abitato di Magliano in Toscana - Colline della Capitana.',\n    'parco': 'DLgs 42/2004, articolo 136 - DM 26/09/1962 - Zona dei Monti dell\\'Uccellina, compresa parte della limitrofa pianura.',\n    'pereta': 'DLgs 42/2004, articolo 136 - DM 16/05/1974 - Zona di Pereta sita nel territorio del comune di Magliano in Toscana.',\n    'magliano': 'DLgs 42/2004, articolo 136 - DM 07/12/1973 - Centro abitato e zone circostanti del comune di Magliano in Toscana.',\n    'idrogeologico': 'Vincolo idrogeologico'\n};\n\n// Funzione che formatta il messaggio in HTML professionale\nfunction formatEmailHtml(messaggio, foglio, mappale) {\n  // Crea la struttura base dell'email\n  const baseHtml = `\n    <!DOCTYPE html>\n    <html>\n    <head>\n      <meta charset=\"UTF-8\">\n      <title>Vincoli Paesaggistici - Comune di Magliano in Toscana</title>\n    </head>\n    <body style=\"font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 20px; background-color: #f9f9f9;\">\n      <div style=\"max-width: 700px; margin: 0 auto; background: white; border: 1px solid #ddd; border-radius: 5px; padding: 30px;\">\n        \n        <div style=\"text-align: center; border-bottom: 2px solid #333; padding-bottom: 15px; margin-bottom: 25px;\">\n          <h1 style=\"margin: 0; font-size: 20px; color: #333;\">\n            Comune di Magliano in Toscana\n          </h1>\n          <p style=\"margin: 5px 0 0 0; font-size: 14px; color: #666;\">\n            Settore Tecnico\n          </p>\n        </div>\n        \n        <div>\n          <p><strong>Oggetto:</strong> Rilascio informazioni vincoli paesaggistici e idrogeologico - Foglio ${foglio} Mappale ${mappale}</p>\n          \n          <p>Gentile richiedente,</p>\n          \n          <p>con riferimento alla sua richiesta di informazioni sui vincoli paesaggistici e idrogeologici, si comunica quanto segue:</p>\n          \n          <p><strong>ESITO DELLA RICERCA:</strong><br>\n          Il nostro sistema ha elaborato la sua domanda relativa al foglio catastale ${foglio} e mappale ${mappale} e dalle informazioni che ci ha fornito risulta quanto segue:</p>\n          \n          <!-- SPAZIO PER IL CONTENUTO VARIABILE -->\n          \n          <p><strong>VALIDITÀ DELLE INFORMAZIONI:</strong><br>\n          I dati forniti sono estratti dal database ufficiale del Comune e hanno valore informativo alla data odierna.</p>\n          \n          <p>Si resta a disposizione per ogni chiarimento.</p>\n          \n          <div style=\"margin-top: 30px; text-align: right;\">\n            <p style=\"margin: 0;\"><strong>Arch. Bartoli Leonardo</strong></p>\n            <p style=\"margin: 0; font-style: italic; font-size: 14px;\">Responsabile Settore Tecnico</p>\n            <p style=\"margin: 0; font-size: 14px;\">Comune di Magliano in Toscana</p>\n          </div>\n        </div>\n        \n      </div>\n    </body>\n    </html>\n  `;\n  \n  let variabileContenuto = '';\n  \n  // Caso 1: Foglio/mappale non trovati nel database\n  if (messaggio.includes('non risultano dati')) {\n    variabileContenuto = `\n      <p>I dati forniti non producono risultati (dati inesatti o particelle che nel frattempo sono state frazionate, eliminate, sostituite con nuove, ecc.)</p>\n    `;\n  }\n  // Caso 2: Nessun vincolo trovato per il foglio/mappale esistente - PATTERN MULTIPLI\n  else if (messaggio.includes('Nessun vincolo paesaggistico o idrogeologico presente') || \n           messaggio.includes('non sono stati trovati vincoli paesaggistici né idrogeologici')) {\n    variabileContenuto = `\n      <p><strong>Nessun vincolo paesaggistico o idrogeologico presente.</strong></p>\n    `;\n  }\n  // Caso 3: Vincoli presenti\n  else if (messaggio.includes('sono presenti i seguenti vincoli paesaggistici:')) {\n    const vincoliPaesPart = messaggio.split('Vincoli Paesaggistici:')[1].split('Vincolo Idrogeologico:')[0].trim();\n    const vincoloIdroPart = messaggio.split('Vincolo Idrogeologico:')[1].trim();\n    \n    let vincoliPaesList = '';\n    if (vincoliPaesPart.length > 0) {\n        // Converti i nomi semplici in riferimenti legali completi\n        const vincoliPaesArray = vincoliPaesPart.split(',').map(v => v.trim().toLowerCase());\n        const mappedVincoli = vincoliPaesArray.map(v => `<li>${vincoliMapping[v] || v}</li>`).join('');\n        vincoliPaesList = `\n            <ul>\n                ${mappedVincoli}\n            </ul>\n        `;\n    } else {\n        vincoliPaesList = '<p>Nessun vincolo paesaggistico presente.</p>';\n    }\n\n    let vincoloIdroList = '';\n    if (vincoloIdroPart.length > 0) {\n        // Mappa il nome semplice a un riferimento legale, se presente\n        const mappedIdro = vincoloIdroPart.toLowerCase();\n        vincoloIdroList = `\n            <ul>\n                <li>${vincoliMapping[mappedIdro] || mappedIdro}</li>\n            </ul>\n        `;\n    } else {\n        vincoloIdroList = '<p>Nessun vincolo idrogeologico presente.</p>';\n    }\n    \n    if (vincoliPaesPart.length > 0 || vincoloIdroPart.length > 0) {\n      variabileContenuto = `\n        <p><strong>L'area è soggetta ai seguenti vincoli:</strong></p>\n        <p><strong>Vincoli Paesaggistici:</strong></p>${vincoliPaesList}\n        <p><strong>Vincolo Idrogeologico:</strong></p>${vincoloIdroList}\n      `;\n    }\n  }\n  \n  // Inserisci il contenuto variabile nella struttura base\n  return baseHtml.replace('<!-- SPAZIO PER IL CONTENUTO VARIABILE -->', variabileContenuto);\n}\n\n// Genera l'HTML formattato\nconst emailHtml = formatEmailHtml(messaggioVincoli, foglio, mappale);\n\n// Restituisci l'output\nreturn [{\n  json: {\n    email_html: emailHtml,\n    messaggio_vincoli: messaggioVincoli\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4928,
        -1152
      ],
      "id": "fc01738f-57fa-410d-aa36-96143a42b057",
      "name": "Formattazione1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "=n8n-vincoli",
          "mode": "name"
        },
        "where": {
          "values": [
            {
              "column": "foglio",
              "value": "={{ $json.output.foglio }}"
            },
            {
              "column": "mappale",
              "value": "={{ $json.output.mappale }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5312,
        -1152
      ],
      "id": "e14818b2-813d-4de4-91d9-639047d3832a",
      "name": "Vincoli paesaggistici1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Verifica se ci sono risultati dal database\nconst inputData = $input.all();\n\n// Recupera foglio e mappale dal nodo Information Extractor\nconst foglio = $('Information Extractor1').item.json.output.foglio;\nconst mappale = $('Information Extractor1').item.json.output.mappale;\n\nlet messaggioVincoli = '';\n\n// Controlla se sono stati trovati record nel database\nif (!inputData || inputData.length === 0) {\n    // Nessun record trovato - foglio/mappale non esistente\n    messaggioVincoli = `non risultano dati, il foglio catastale ${foglio} e il mappale ${mappale} non producono risultati (dati inesatti o particelle che nel frattempo sono state frazionate, eliminate, sostituite con nuove, ecc.)`;\n} else {\n    // Record trovato, verifica se ha un ID valido\n    const firstItem = inputData[0]?.json;\n    \n    if (!firstItem || !firstItem.id) {\n        // Record vuoto o senza ID - foglio/mappale non esistente\n        messaggioVincoli = `non risultano dati, il foglio catastale ${foglio} e il mappale ${mappale} non producono risultati (dati inesatti o particelle che nel frattempo sono state frazionate, eliminate, sostituite con nuove, ecc.)`;\n    } else {\n        // Record valido trovato, verifica i vincoli\n        const vincoliPaesaggistici = [\n            firstItem.paes_interesse_archeologico,\n            firstItem.paes_boschi,\n            firstItem.paes_costa,\n            firstItem.paes_fiumi,\n            firstItem.paes_laghi,\n            firstItem.paes_area_contigua_parco,\n            firstItem.paes_dm_capitana,\n            firstItem['paes__dm_parco'],\n            firstItem.paes_dm_pereta,\n            firstItem.paes_dm_magliano\n        ]\n        .filter(item => item && item.trim() !== '' && item !== null && item !== undefined)\n        .join(', ');\n        \n        const vincoloIdrogeologico = firstItem.vincolo_idrogeologico && firstItem.vincolo_idrogeologico.trim() !== '' ? firstItem.vincolo_idrogeologico : '';\n        \n        // Controlla se ci sono vincoli presenti\n        if (vincoliPaesaggistici.length > 0 || vincoloIdrogeologico.length > 0) {\n            messaggioVincoli = `sono presenti i seguenti vincoli paesaggistici: Vincoli Paesaggistici: ${vincoliPaesaggistici} Vincolo Idrogeologico: ${vincoloIdrogeologico}`; \n        } else {\n            // Record esistente ma senza vincoli\n            messaggioVincoli = `per il foglio catastale ${foglio} e il mappale ${mappale} non sono stati trovati vincoli paesaggistici né idrogeologici.`;\n        }\n    }\n}\n\nreturn [{\n  json: {\n    messaggio_vincoli: messaggioVincoli,\n    foglio: foglio,\n    mappale: mappale,\n    records_found: inputData.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5136,
        -1152
      ],
      "id": "d60d8b83-dda7-4061-9d5b-24ca81384fac",
      "name": "Code"
    },
    {
      "parameters": {
        "fromEmail": "magliano.settoretecnico@gmail.com",
        "toEmail": "=magliano.settoretecnico@gmail.com",
        "subject": "=Rilascio informazioni vincoli paesaggistici e idrogeologico",
        "html": "={{ $json.email_html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -4752,
        -1152
      ],
      "id": "a78ac8c6-910a-4aba-ab6d-606e0cdd9b35",
      "name": "Risposta Email",
      "webhookId": "7c26f46f-ea7e-42f7-81c0-44c57438f7ef",
      "credentials": {
        "smtp": {
          "id": "2Ev9y9tlQno3rjNP",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "text": "=leggi {{ $json.chatInput }} ed estrai foglio, mappale, nome, cognome e richiesta vincoli. Se presenti più fogli e mappali scegli i primi",
        "attributes": {
          "attributes": [
            {
              "name": "foglio",
              "description": "foglio catastale"
            },
            {
              "name": "mappale",
              "description": "mappale catastale"
            },
            {
              "name": "nome",
              "description": "nome"
            },
            {
              "name": "cognome",
              "description": "cognome"
            },
            {
              "name": "vincoli",
              "description": "vincoli"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -5760,
        -1104
      ],
      "id": "d873e0da-df80-4bbf-8e24-c12ce77e0efc",
      "name": "Information Extractor1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "Informazioni sulla presenza di vincoli paesaggistici ed idrogeologico",
        "height": 640,
        "width": 1936,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5856,
        -1264
      ],
      "typeVersion": 1,
      "id": "a3ba383b-0dbc-47ca-94e6-5000608436d9",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -6912,
        880
      ],
      "id": "b37a6f30-c0e5-47a4-80bf-3de60ee0a025",
      "name": "Ollama Chat Model9",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un proprietario di immobili all'interno del comune di Magliano in Toscana. Descrivi SOLAMENTE un intervento edilizio che intenderesti realizzare e richiedi quali titoli edilizi e autorizzazioni sarebbe necessario conseguire per poter procedere.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -6864,
        704
      ],
      "id": "87548d9d-3b70-4c9f-9d11-cc7a8b6b85f2",
      "name": "Domande edilizia"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -5680,
        -1440
      ],
      "id": "e07bae02-ba54-4542-b33d-fb9406c8cfba",
      "name": "Ollama Model3",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "text": "=leggi {{ $json.output }} ed estrai informazioni sui seguenti temi:\n\n- Riassunto intervento\n- intervento edilizio  (SCEGLI ESCLUSIVAMENTE fra uno o più ristrutturazione edilizia, sostituzione edilizia, nuova edificazione)\n- Imprenditore agricolo (SI o NO)\n- Imprenditore agricolo professionale (SI o NO)\n- Intervento in zone aperte  (SI o NO)\n- Intervento in centro urbano  (SI o NO)\n\n",
        "attributes": {
          "attributes": [
            {
              "name": "intervento edilizio",
              "description": "intervento edilizio"
            },
            {
              "name": "imprenditore agricolo professionale",
              "description": "imprenditore agricolo professionale"
            },
            {
              "name": "Intervento in zone aperte",
              "description": "Intervento in zone aperte"
            },
            {
              "name": "Intervento in centro urbano",
              "description": "Intervento in centro urbano"
            },
            {
              "name": "Riassunto intervento",
              "description": "Riassunto intervento"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -5744,
        -1664
      ],
      "id": "6024e4b2-ec87-4f92-a255-7f016bcd1475",
      "name": "Information Extractor2"
    },
    {
      "parameters": {
        "content": "Richiesta informazioni su pratica edilizia",
        "height": 464,
        "width": 1936,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5856,
        -1760
      ],
      "typeVersion": 1,
      "id": "fdb7daef-2f5f-4d01-bfb2-043d5663effd",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -5056,
        -1488
      ],
      "id": "e871c5e6-2575-4e6e-ba50-f8696a17a01e",
      "name": "Ollama Chat Model4",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un assistente virtuale del Settore Tecnico del Comune di Magliano in Toscana.\nIl tuo compito è di fornire informazioni su come procedere per realizzare i seguenti interventi. {{ $('Information Extractor2').item.json.output['intervento edilizio'] }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -5024,
        -1664
      ],
      "id": "fc729397-9fbc-4dc9-84fc-44f553735613",
      "name": "Informazioni generali1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "=settore_tecnico_uffici",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -4848,
        -1472
      ],
      "id": "b5d2e46e-b819-4a70-952a-b4490ce5e5d8",
      "name": "PostgreSQL2",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "protocollo",
                "value": "={{ $('Generazione protocollo1').item.json.numero_protocollo }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -4352,
        192
      ],
      "id": "26b789cd-8227-47a7-bd24-a93aa51b16a7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -4480,
        192
      ],
      "id": "1255e06d-8885-4870-a8e1-12566e5eaa51",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "embeddingBatchSize": 2000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -4480,
        -32
      ],
      "id": "d9d38e24-55b9-416e-a123-c177e47d4a05",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Information Extractor2').item.json.output['Riassunto intervento'] }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "protocollo",
                "value": "={{ $('Assegnazione protocollo').item.json.ultimo_numero }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -4480,
        -1472
      ],
      "id": "08299cd5-5649-48bd-b64e-af24588a057a",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -4624,
        -1472
      ],
      "id": "a2a49f2c-39d2-4b40-a547-c6d3d95898ee",
      "name": "Embeddings Ollama3",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "embeddingBatchSize": 2000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -4560,
        -1664
      ],
      "id": "30f2d463-3347-4f5a-a187-f752b042fef2",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE protocollo_counter\nSET ultimo_numero = ultimo_numero + 1\nWHERE anno = EXTRACT(YEAR FROM CURRENT_DATE)\nRETURNING ultimo_numero;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5392,
        -1664
      ],
      "id": "14f2e21b-bea4-440a-92cd-8c13eec4b3b3",
      "name": "Assegnazione protocollo",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE protocollo_counter\nSET ultimo_numero = ultimo_numero + 1\nWHERE anno = EXTRACT(YEAR FROM CURRENT_DATE)\nRETURNING ultimo_numero;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5456,
        -912
      ],
      "id": "214c4a2b-5370-4f38-9e5a-e5982aab9b7f",
      "name": "Assegnazione protocollo1",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "=segnalazioni",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Information Extractor1').item.json.output.nome }}",
            "cognome": "={{ $('Information Extractor1').item.json.output.cognome }}",
            "data": "=2025",
            "numero_protocollo": "={{ $json.ultimo_numero }}",
            "oggetto": "={{ $('Smistatore iniziale').item.json.chatInput }}",
            "ufficio_competente": "Ufficio vincoli"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cognome",
              "displayName": "cognome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "indirizzo",
              "displayName": "indirizzo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "canale",
              "displayName": "canale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipologia",
              "displayName": "tipologia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "oggetto",
              "displayName": "oggetto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "descrizione",
              "displayName": "descrizione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgenza",
              "displayName": "urgenza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dati_catastali",
              "displayName": "dati_catastali",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ufficio_competente",
              "displayName": "ufficio_competente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priorita",
              "displayName": "priorita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono_ufficio",
              "displayName": "telefono_ufficio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_ufficio",
              "displayName": "email_ufficio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tempi_gestione",
              "displayName": "tempi_gestione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero_protocollo",
              "displayName": "numero_protocollo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "documenti_richiesti",
              "displayName": "documenti_richiesti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "risposta_cittadino",
              "displayName": "risposta_cittadino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stato",
              "displayName": "stato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [],
              "removed": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [],
              "removed": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [],
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5216,
        -912
      ],
      "id": "795d6c22-ef16-4281-a29c-91a18f6fd3cd",
      "name": "Salva in Database2",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE protocollo_counter\nSET ultimo_numero = ultimo_numero + 1\nWHERE anno = EXTRACT(YEAR FROM CURRENT_DATE)\nRETURNING ultimo_numero;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5440,
        224
      ],
      "id": "a92d4aec-bb85-407b-85ca-4d76d669dbfe",
      "name": "Assegna protocollo",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE protocollo_counter\nSET ultimo_numero = ultimo_numero + 1\nWHERE anno = EXTRACT(YEAR FROM CURRENT_DATE)\nRETURNING ultimo_numero;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5072,
        -496
      ],
      "id": "277f58ec-22bd-425f-a180-59b668ba7659",
      "name": "Assegnazione protocollo2",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "=segnalazioni",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Information Extractor3').item.json.output.nome }}",
            "cognome": "={{ $('Information Extractor3').item.json.output.cognome }}",
            "data": "=2025",
            "numero_protocollo": "={{ $('Assegnazione protocollo2').item.json.ultimo_numero }}",
            "oggetto": "={{ $('Smistatore iniziale').item.json.output }}",
            "ufficio_competente": "Ufficio vincoli"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cognome",
              "displayName": "cognome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "indirizzo",
              "displayName": "indirizzo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "canale",
              "displayName": "canale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipologia",
              "displayName": "tipologia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "oggetto",
              "displayName": "oggetto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "descrizione",
              "displayName": "descrizione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgenza",
              "displayName": "urgenza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dati_catastali",
              "displayName": "dati_catastali",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ufficio_competente",
              "displayName": "ufficio_competente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priorita",
              "displayName": "priorita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono_ufficio",
              "displayName": "telefono_ufficio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_ufficio",
              "displayName": "email_ufficio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tempi_gestione",
              "displayName": "tempi_gestione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero_protocollo",
              "displayName": "numero_protocollo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "documenti_richiesti",
              "displayName": "documenti_richiesti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "risposta_cittadino",
              "displayName": "risposta_cittadino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stato",
              "displayName": "stato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [],
              "removed": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [],
              "removed": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [],
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4416,
        -304
      ],
      "id": "bf4a888d-c356-4904-af30-2e303c9d654f",
      "name": "Salva in Database3",
      "credentials": {
        "postgres": {
          "id": "LCpZD9DBViVjwmM6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "text": "=leggi {{ $json.output }} ed estrai nome e cognome",
        "attributes": {
          "attributes": [
            {
              "name": "nome",
              "description": "nome"
            },
            {
              "name": "cognome",
              "description": "cognome"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -5808,
        -464
      ],
      "id": "3c0f9822-1c80-4a52-9861-7503b924b610",
      "name": "Information Extractor3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -5744,
        -304
      ],
      "id": "9d004fa4-5da1-435b-8c2a-09241b08f809",
      "name": "Ollama Model4",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "Smistatore",
        "height": 528,
        "width": 464,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6384,
        160
      ],
      "typeVersion": 1,
      "id": "9d1968fa-605d-43d4-8e45-c0aa9c718173",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge Protocol Data": {
      "main": [
        [
          {
            "node": "Parse JSON & Valida Dati1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Protocol Data for Qdrant": {
      "main": [
        [
          {
            "node": "Testo per embedding1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modello Linguistico1": {
      "ai_languageModel": [
        [
          {
            "node": "Generatore Segnalazioni",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON & Valida Dati1": {
      "main": [
        [
          {
            "node": "Salva in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva in Database": {
      "main": [
        [
          {
            "node": "Notifica Interna all'Ufficio1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Conferma al Cittadino1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Inserimento richieste",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generazione protocollo1": {
      "main": [
        [
          {
            "node": "Merge Protocol Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Protocol Data for Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Testo per embedding1": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elabora Risultati1": {
      "main": [
        [
          {
            "node": "Verifica Risultati1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Risultati1": {
      "main": [
        [
          {
            "node": "Email Nessun Risultato1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Con Risultati1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Modifica segnalazioni",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ricerca segnalazioni",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Email Con Risultati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Smistatore iniziale",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Smistatore iniziale": {
      "main": [
        [
          {
            "node": "Information Extractor3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ricerca segnalazioni",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inserimento richieste",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Modifica segnalazioni",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Informazioni generali",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Informazioni generali",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Informazioni generali": {
      "main": [
        [
          {
            "node": "Email Con Risultati2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva in Database3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store2": {
      "ai_tool": [
        [
          {
            "node": "Modifica segnalazioni",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL1": {
      "ai_tool": [
        [
          {
            "node": "Informazioni generali",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Generatore richieste informazioni",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ricerca segnalazioni": {
      "main": [
        [
          {
            "node": "Elabora Risultati1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modifica segnalazioni": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserimento richieste": {
      "main": [
        [
          {
            "node": "Assegna protocollo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama2": {
      "ai_embedding": [
        [
          {
            "node": "Vectors",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vectors": {
      "ai_tool": [
        [
          {
            "node": "Ricerca segnalazioni",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modello Linguistico": {
      "ai_languageModel": [
        [
          {
            "node": "Generatore richieste informazioni",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generatore richieste informazioni": {
      "main": [
        [
          {
            "node": "Smistatore iniziale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Generatore Segnalazioni",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Generatore Segnalazioni": {
      "main": [
        []
      ]
    },
    "Postgres-Segnalazioni": {
      "ai_tool": [
        [
          {
            "node": "Generatore Segnalazioni",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres-Informazioni": {
      "ai_tool": [
        [
          {
            "node": "Generatore richieste informazioni",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in Postgres": {
      "ai_tool": [
        [
          {
            "node": "Ricerca segnalazioni",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Assegnazione protocollo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Classificatore competenze",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL": {
      "ai_tool": [
        [
          {
            "node": "Classificatore competenze",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Classificatore competenze": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formattazione1": {
      "main": [
        [
          {
            "node": "Risposta Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vincoli paesaggistici1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Formattazione1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Vincoli paesaggistici1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assegnazione protocollo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Domande edilizia",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Domande edilizia": {
      "main": [
        []
      ]
    },
    "Ollama Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor2": {
      "main": [
        [
          {
            "node": "Assegnazione protocollo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Informazioni generali1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Informazioni generali1": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL2": {
      "ai_tool": [
        [
          {
            "node": "Informazioni generali1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama3": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Assegnazione protocollo": {
      "main": [
        [
          {
            "node": "Informazioni generali1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assegnazione protocollo1": {
      "main": [
        [
          {
            "node": "Salva in Database2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assegna protocollo": {
      "main": [
        [
          {
            "node": "Generazione protocollo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assegnazione protocollo2": {
      "main": [
        [
          {
            "node": "Informazioni generali",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva in Database3": {
      "main": [
        []
      ]
    },
    "Ollama Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor3": {
      "main": [
        [
          {
            "node": "Classificatore competenze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "904196c0-d01e-4b6a-ab33-2db5b9a2a8f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17a62beb685cc8811ecccfdb526b06b45c844927e932786974e7e038d3390ffd"
  },
  "id": "Zzm5YnJ46IFRH2Bo",
  "tags": []
}