n8n/demo-data/workflows/Verifica atti_04.json
{
  "name": "Verifica atti_03",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un agente IA che verifica atti amministrativi del settore tecnico del Comune di Magliano in Toscana. Analizza il documento ricevuto e rispondi solo nel formato seguente, senza aggiungere altro:\n{{ $('Extract from File').item.json.text }}\n\n\nREPORT VERIFICA ATTO - [TITOLO DOCUMENTO]\nData: [DATA]\nCUP: [SE PRESENTE]\nCIG: [SE PRESENTE]\n\n1. TITOLO-CONTENUTO: ✅ / ⚠️ / ❌\n[Dettagli]\n\n2. CALCOLI: ✅ / ⚠️ / ❌\n[Dettagli con formule, controlla somme, IVA, percentuale subappalti = (subappalto ÷ totale) × 100, segnala se >50%]\n\n3. FORMA: ✅ / ⚠️ / ❌\n[Errori ortografici, date, protocolli, riferimenti normativi]\n\nRACCOMANDAZIONI:\n- [Correzioni prioritarie]\n\nSTATO FINALE: ✅ APPROVABILE / ⚠️ MINORI / ❌ NECESSARIE\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        -240
      ],
      "id": "8b8d2b21-46d2-4d8f-8560-15e47830440d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        336,
        -16
      ],
      "id": "8d428374-f898-418d-9aa2-1caa2c358ae0",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -320,
        -240
      ],
      "id": "99760cee-076f-454c-8004-b8e836700ffd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }} estrai titolo atto, dispositivo atto, oggetto atto, motivazioni atto, premesse atto",
        "attributes": {
          "attributes": [
            {
              "name": "dispositivo atto",
              "description": "dispositivo atto"
            },
            {
              "name": "oggetto atto",
              "description": "oggetto atto"
            },
            {
              "name": "titolo atto",
              "description": "titolo atto"
            },
            {
              "name": "motivazioni atto",
              "description": "motivazioni atto"
            },
            {
              "name": "premesse atto",
              "description": "premesse atto"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -96,
        -240
      ],
      "id": "b5b2fd2d-d489-4506-8ee3-12a03e9b9257",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -32,
        -16
      ],
      "id": "66e830a2-95a0-4e85-aad4-2eeff3df0021",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "8OMWvqHyP2rNSFWy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "filePath": "/shared/images/upload/ACQUEDOTTO SAN CRESCENZIO - Rateizzazione BENICCHI.pdf"
      },
      "id": "187b71fc-a70e-41d9-8001-f70b6e069e31",
      "name": "Read pdf",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -544,
        -240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        -240
      ],
      "id": "95b4746b-4f26-4edd-8097-dfd6197f6447",
      "name": "When chat message received",
      "webhookId": "47148702-edc9-4ece-b500-e90dd11f07bb"
    },
    {
      "parameters": {
        "fromEmail": "magliano.settoretecnico@gmail.com",
        "toEmail": "magliano.settoretecnico@gmail.com",
        "subject": "=Verifica atto: {{ $('Information Extractor').item.json.output['oggetto atto'] }}",
        "html": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        592,
        -240
      ],
      "id": "96210b67-fcbe-446f-bb3e-e0c5eb430de6",
      "name": "Notifica Interna all'Ufficio1",
      "webhookId": "dff3a31d-5ffd-46a6-a7d5-13163f3092c0",
      "credentials": {
        "smtp": {
          "id": "2Ev9y9tlQno3rjNP",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Notifica Interna all'Ufficio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read pdf": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Read pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c4843ee-8862-4a9c-ba83-820a064cfddb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17a62beb685cc8811ecccfdb526b06b45c844927e932786974e7e038d3390ffd"
  },
  "id": "ZswidgMGcR9a1wQl",
  "tags": []
}